@charset "UTF-8";
:root {
  --primary: #2b3b5f;
  /* #08a1e2 */
  --primary-dark: #202b46;
  --light: #cbd3e7;
  /* #ceeffd */
  --accent: hsl(28, 100%, 50%);
  /* #f5d419 */
  --accent-dark: hsl(28, 100%, 40%);
  --dark: #526e7a;
}
html {
  scroll-behavior: smooth;
}
html ::-moz-selection {
  background: var(--accent);
}
html ::selection {
  background: var(--accent);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1320px;
  padding-left: 1rem;
  padding-right: 1rem;
}
img,
video {
  max-width: 100%;
}
@media (max-width: 991px) {
  .hide-on-mobile {
    display: none;
  }
}
.pointer-events-none {
  pointer-events: none;
}
@media (min-width: 768px) {
  .hover\:bg-white:hover {
    background: white !important;
  }
}
.bg-gray {
  background: #f0f0f0;
}
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.none {
  display: none;
}
@media (min-width: 576px) {
  .sm\:none {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .md\:none {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .lg\:none {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .xl\:none {
    display: none !important;
  }
}
@media (min-width: 1400px) {
  .xxl\:none {
    display: none !important;
  }
  .xxl\:block {
    display: block;
  }
  .xxl\:flex {
    display: flex;
  }
  .xxl\:grid {
    display: grid;
  }
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.self-end {
  align-self: end;
}
.flex-col {
  flex-direction: column;
}
.flex-grow-0 {
  flex-grow: 0;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-wrap {
  flex-wrap: wrap;
}
.shadow-sm {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.shadow-md {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.shadow-accent {
  box-shadow: 0.25rem 0.25rem 0 0.25rem #ff4d01;
}
table {
  width: 100%;
}
table tr:not(:last-child) td {
  border-bottom: 1px solid #011d36;
}
@-webkit-keyframes heroText {
  0% {
    opacity: 0;
    transform: translate3d(0, 10rem, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes heroText {
  0% {
    opacity: 0;
    transform: translate3d(0, 10rem, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes shake {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-0.8rem, 0, 0);
  }
}
@keyframes shake {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-0.8rem, 0, 0);
  }
}
§ a.theme {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  color: #ff4d01;
}
a.theme svg {
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 1rem;
  transition: all 0.3s ease-out;
}
a.theme:hover svg {
  -webkit-animation: 1s ease infinite alternate shake;
  animation: 1s ease infinite alternate shake;
}
.text-gray {
  color: #999;
}
.text-light {
  color: #d3e5f8;
}
.text-white {
  color: white;
}
.text-green {
  color: forestgreen;
}
.text-red {
  color: firebrick;
}
.hover\:text-accent:hover {
  color: #ff4d01;
}
.text-balance {
  text-wrap: balance;
}
.font-bold {
  font-weight: 700;
}
.underline {
  width: 5rem;
  height: 4px;
}
.underline--center {
  margin-left: auto;
  margin-right: auto;
}
.accordion-header {
  border-top: 1px solid #ffebc7;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #011d36;
}
.btn {
  padding: 0.5rem 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn svg {
  margin-left: 1rem;
}
.btn.btn-sm {
  padding: 0.25rem 0.8rem;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .btn {
    padding: 1rem 2rem;
  }
}
.search-widget form {
  box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.05);
}
.search-widget .search-widget-header {
  border-bottom: 1px solid #aaa;
}
.search-widget .search-widget-body {
  height: calc(100vh - 8rem);
  overflow-y: auto;
}
.search-widget .search-widget-footer {
  border-top: 1px solid #aaa;
}
.search-widget .label-button {
  border: 2px solid #aaa;
  border-radius: 0.5rem;
  margin: 0 0.5rem 0.5rem 0;
  cursor: pointer;
}
.search-widget .label-button svg {
  color: #ddd;
}
.search-widget [type=checkbox]:checked+.label-button {
  border: 2px solid #011d36;
  background: #86c5fd;
}
.search-widget [type=checkbox]:checked+.label-button svg {
  color: #ff4d01;
}
.search-widget .custom-check {
  color: #555;
  cursor: pointer;
}
.search-widget .custom-check svg {
  color: #ddd;
}
.search-widget [type=checkbox]:checked+.custom-check,
.search-widget [type=radio]:checked+.custom-check {
  color: #011d36;
}
.search-widget [type=checkbox]:checked+.custom-check svg,
.search-widget [type=radio]:checked+.custom-check svg {
  color: #ff4d01;
}
.hero .overlay {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  bottom: 0;
}
.hero-alt {
  background: rgb(131, 199, 212);
  background: linear-gradient(225deg, rgba(131, 199, 212, 1), rgba(40, 143, 236, 1));
  min-height: 400px;
}
@media(min-width:992px) {
  .hero-alt {
    min-height: 500px;
  }
}
.hero-alt img {
  display: block;
  width: 100%;
  min-height: inherit;
  -o-object-fit: cover;
  object-fit: cover;
}
.hero-alt .overlay {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  bottom: 0;
  width: 100%;
}
.hero-alt .hero-text {
  bottom: 0;
  padding-bottom: 3rem;
}
.hero-alt h1 {
  max-width: 1200px;
  font-size: calc(4vw + 1rem);
  line-height: 1.2;
  font-weight: 700;
  color: white;
}
.review img {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.review-video .details {
  opacity: 0;
  transition: 0.3s all ease-out;
}
.review-video:hover .details {
  opacity: 1;
}
@media (max-width: 991px) {
  .review-video {
    width: 80vw;
    max-width: 20rem;
  }
}
.tour {
  position: relative;
  border-radius: 0.8rem;
}
.tour .top {
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem 0.5rem 0 0;
}
.tour .top img {
  display: block;
  width: 100%;
  transform: scale(1.1);
  transition: all 0.3s ease-out;
  aspect-ratio: 4/3;
}
.tour .top__overlay {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to bottom, transparent, rgba(1, 29, 54, 0.4));
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  color: white;
}
.tour .offer {
  position: absolute;
  right: -0.5rem;
  top: 1rem;
  background: var(--accent);
  padding: 0.35rem 1rem;
  height: 2rem;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}
.tour .offer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  border-top: 1rem solid var(--accent);
  border-right: 0.5rem solid var(--accent);
  border-bottom: 1rem solid var(--accent);
  border-left: 1rem solid transparent;
}
.tour .offer::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  border-top: 0.25rem solid var(--accent-dark);
  border-right: 0.25rem solid transparent;
  border-bottom: 0.25rem solid transparent;
  border-left: 0.25rem solid var(--accent-dark);
}
.tour .bottom {
  border-radius: 0 0 0.8rem 0.8rem;
  overflow: hidden;
}
.tour:hover .top img {
  transform: scale(1);
}
.tour .icon {
  color: #011d36;
}
.tour .summary {
  display: none;
}
@media (min-width: 768px) {
  .tour.large {
    grid-column: span 2/span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .tour.large .top img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  .tour.large .details {
    display: block;
  }
  .tour.large .summary {
    margin: 0.5rem 0;
  }
  .tour.large .stars {
    border: 0;
    justify-content: flex-start;
  }
}
.review p {
  font-style: italic;
  max-height: 8rem;
  overflow-y: scroll;
  padding-right: 1rem;
  font-size: 0.95rem;
}
.review p::-webkit-scrollbar {
  width: 0.5rem;
}
.review p::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, orange, darksalmon);
  border-radius: 999px;
}
.article img {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.article h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.article:hover h2 {
  color: #ff4d01;
}
.form-group label {
  color: #222222;
  font-size: 0.9rem;
}
.form-group input,
.form-group select,
.form-group textarea {
  display: block;
  font-family: 'Poppins', sans-serif;
  border: 2px solid #cdf;
  background: white;
  color: #555;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  width: 100%;
  max-width: 30rem;
  border-radius: 0.5rem;
}
.has-icon {
  position: relative;
}
.has-icon .icon {
  position: absolute;
}
.has-icon.icon-right .icon {
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
.header {
  color: #011d36;
  z-index: 99;
}
.header {
  background: white;
}
.header .right {
  transition: 0.3s all ease-out;
}
.header:not(.scrolled) .brand {
  filter: drop-shadow(0 5px 20px white);
}
.header:not(.scrolled) .right {
  background: var(--light);
}
@media (max-width: 991px) {
  .header nav:not(.show) {
    display: none;
  }
  .header nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: white;
  }
}
@media (min-width: 992px) {
  .header .dropdown,
  .header .dropright {
    width: 12rem;
  }
}
.header .dropdown {
  top: 100%;
  left: 0;
  box-shadow: inset 0 0 0 1px #ffebc7;
  border-radius: 0 0 0.5rem 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.header .dropright {
  top: 0;
  left: 100%;
  box-shadow: inset 0 0 0 1px #ffebc7;
  border-radius: 0 0 0.5rem 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.header__searchform {
  top: 100%;
  left: 0;
  right: 0;
}
.header__searchform input {
  border-radius: 0.25rem 0 0 0.25rem;
  background-color: #d3e5f8;
}
.header__searchform button {
  border-radius: 0 0.25rem 0.25rem 0;
}
@media (min-width: 992px) {
  .header__searchform {
    left: 3rem;
    right: 3rem;
  }
  .header__searchform input {
    width: 30rem;
  }
}
.header__searchform input:focus {
  outline: none;
}
.header__searchform:focus-within {
  box-shadow: 0 1rem 1rem rgba(255, 77, 1, 0.2);
}
.subscribe-form>div {
  border: 2px solid var(--accent);
}
.subscribe-form>div:focus-within {
  border: 2px solid var(--primary);
}
.subscribe-form input:focus {
  box-shadow: none;
}
footer {
  padding: 4rem 0 0;
}
.footer-art {
  min-height: 6rem;
}
footer h1 {
  font-weight: 700;
  margin-bottom: 1rem;
}
footer li {
  margin-bottom: 0.5rem;
}
footer li a {
  transition: all 0.3s ease-out;
}
footer li a:hover {
  color: #f5d419;
}
footer svg {
  width: 1.2rem;
  height: 1.2rem;
}
footer .social-links {
  display: flex;
}
footer .social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background: var(--primary-dark);
  padding: 0.25rem;
  margin-right: 0.5rem;
  color: white;
  transition: all 0.3s ease-out;
}
footer .social-links a:hover {
  background: var(--accent);
  color: var(--primary);
}
@media (min-width: 768px) {
  footer .social-links a {
    padding: 1rem;
  }
}
footer .bottom {
  padding: 2rem 0;
}
@media (min-width: 768px) {
  footer .bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .ap .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.affiliations ul {
  display: flex;
  align-items: center;
}
.affiliations ul li {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
}
.affiliations img {
  display: block;
}
.payments {
  text-align: center;
}
.payments img {
  height: 1.2rem;
}
.hero-slider-title {
  font-size: calc(4vw + 1rem);
  line-height: 1;
  text-shadow: 0.2rem 0.2rem 1rem #000;
  max-width: 910px;
  text-align: center;
}
@media (max-width: 991px) {
  .hero-slider .text {
    bottom: 6rem;
  }
}
@media (min-width: 992px) {
  .hero-slider .text {
    bottom: 18rem;
  }
}
.hero-slider-controls {
  bottom: 18%;
  right: 5%;
  z-index: 98;
}
.hero-slider-controls button {
  background: rgba(255, 255, 255, 0.8);
  color: #011d36;
  padding: 1rem;
  border-radius: 1rem;
}
.hero-slider-controls button:hover {
  background: rgba(255, 255, 255, 0.9);
}
.hero-slider .text {
  opacity: 0;
  transition: opacity 2s ease-out 1s;
}
.hero-slider .tns-slide-active .text {
  opacity: 1;
}
.banner-search-container {
  bottom: 3rem;
}
@media(min-width: 992px) {
  .banner-search-container {
    bottom: 15rem;
  }
}
@media (max-width:991px) {
  .destination {
    width: 60vw;
  }
}
.destination__img {
  overflow: hidden;
  border-radius: 1rem;
}
.destination img {
  -o-object-fit: cover;
  object-fit: cover;
  transform: scale(1.1);
  transition: all 0.1s ease-out;
}
.destination a:hover img,
.destination a:focus img,
.destination a:active img {
  transform: scale(1);
}
.activity img {
  width: 8rem;
  height: 8rem;
}
@media (min-width: 992px) {
  .activity img {
    width: 14rem;
    height: 14rem;
  }
}
.tour-details .hero img {
  display: block;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
}
.tour-details .hero .overlay {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  bottom: 0;
  width: 100%;
}
.tour-details .hero .caption h2 {
  font-size: 3rem;
  font-weight: 600;
  color: white;
}
.tour-details .hero .caption p {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  color: white;
}
.tour-details .hero .ratings-wrapper {
  padding: 0 2rem;
  background: #011d36;
  color: white;
  align-self: flex-end;
}
.tour-details .hero .ratings-wrapper svg {
  width: 1rem;
  height: 1rem;
}
.tour-details h1.tour-title {
  color: #011d36;
  margin: 2rem 0;
}
.tour-details a.print {
  display: inline-block;
  color: #011d36;
}
.tour-details a.print i {
  color: #ff4d01;
}
.tour-details a.print:hover {
  color: #ff4d01;
  text-decoration: none;
}
.tour-details .tour-details-bar {
  top: 4.6rem;
  background: #ffebc7;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.05);
  z-index: 1;
}
.tour-details .tour-details-section {
  display: block;
}
.tour-details .tour-details-section:not(:first-child) {
  padding-top: 6rem;
}
.tour-details .highlights li,
.tour-details .includes li,
.tour-details .excludes li,
.tour-details .complimentary li,
.tour-details .essential-info li {
  display: flex;
  margin-bottom: 0.5rem;
}
.tour-details .highlights li::before,
.tour-details .includes li::before,
.tour-details .excludes li::before,
.tour-details .complimentary li::before,
.tour-details .essential-info li::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  margin-right: 0.5rem;
}
.tour-details .highlights li::before {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23E67A00' stroke='%none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z'%3E%3C/path%3E%3C/svg%3E");
}
.tour-details .includes li::before {
  background-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='forestgreen' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 13l4 4L19 7'%3E%3C/path%3E%3C/svg%3E");
}
.tour-details .excludes li::before {
  background-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='firebrick' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12'%3E%3C/path%3E%3C/svg%3E");
}
.tour-details .complimentary li::before {
  background-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='%232170a5' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 6v6m0 0v6m0-6h6m-6 0H6'%3E%3C/path%3E%3C/svg%3E");
}
.tour-details .essential-info li::before {
  background-image: url("data:image/svg+xml,%3Csvg fill='%232170a5' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}
.tour-details .tabular {
  margin-bottom: 3rem;
  background: #f6f6f6;
  padding: 2rem;
}
.tour-details .tabular .table-item .icon {
  font-size: 1.5rem;
  font-weight: 600;
  color: #011d36;
  flex: 0 0 48px;
  text-align: center;
}
.tour-details .tabular .table-item .icon svg {
  fill: #ff4d01;
}
.tour-details .tabular .table-item .data {
  color: #011d36;
  flex: 1 1 100%;
}
.tour-details .tabular .table-item .data .field-name {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1;
  color: #888;
  margin-bottom: 0;
}
.tour-details .tabular .table-item .data .field-value {
  margin-bottom: 0;
}
.tour-details .tabular svg {
  height: 3rem;
  width: 3rem;
}
.tour-details #overview-text.collapse:not(.show) {
  display: block;
  height: 10rem;
  overflow: hidden;
  position: relative;
}
.tour-details #overview-text.collapse:not(.show)::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  background: linear-gradient(rgba(255, 255, 255, 0), white);
}
@media only screen and (min-width: 768px) {
  .tour-details #overview-text.collapse:not(.show) {
    height: unset;
  }
  .tour-details #overview-text.collapse:not(.show)::after {
    display: none;
  }
}
.tour-details .trip-note {
  border: 1px solid #ddd;
  padding: 10px;
  border: none;
  border-left: 5px solid #011d36;
}
@media only screen and (min-width: 768px) {
  .tour-details #toggle-overview {
    display: none;
  }
}
.tour-details .itinerary .collapse-toggle button {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.tour-details .itinerary .collapse-toggle button h3 {
  margin-bottom: 0;
}
.tour-details .itinerary .collapse-toggle button:hover {
  text-decoration: none;
}
.tour-details .itinerary .collapse-toggle button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns=http://www.w3.org/2000/svg viewBox=0 0 16 16 fill=%233a95d8%3e%3cpath fill-rule=evenodd d=M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z/%3e%3c/svg%3e");
}
.tour-details .itinerary .collapse-toggle button svg {
  color: #ff4d01;
}
.tour-details .itinerary .itinerary-row {
  display: flex;
  position: relative;
}
.tour-details .itinerary .itinerary-row .day {
  flex: 0 0 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
  border: 3px solid #011d36;
  color: #011d36;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-right: 15px;
  position: relative;
}
.tour-details .itinerary .itinerary-row .day .d {
  margin: 10px 0 -3px;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1;
}
.tour-details .itinerary .itinerary-row .day::before {
  content: "";
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tour-details .itinerary .itinerary-row .itinerary-text {
  padding: 2.5rem 0 0.5px;
  border-bottom: 1px solid #011d36;
  flex-grow: 1;
}
.tour-details .itinerary .itinerary-row::after {
  content: "";
  display: block;
  top: 93px;
  border-left: 2px dotted #011d36;
  position: absolute;
  left: 30px;
  height: 100%;
}
.tour-details .itinerary .itinerary-row:last-child::after {
  height: 0;
}
.tour-details .itinerary .itinerary-row:last-child .itinerary-text {
  border-bottom: none;
}
@media only screen and (max-width: 768px) {
  .tour-details #date-price table,
  .tour-details #date-price thead,
  .tour-details #date-price tbody,
  .tour-details #date-price th,
  .tour-details #date-price td,
  .tour-details #date-price tr {
    display: block;
  }
  .tour-details #date-price thead tr {
    height: 0;
    margin: 0;
    overflow: hidden;
  }
  .tour-details #date-price td::before {
    position: absolute;
    top: 10px;
    left: 6px;
    width: 120px;
    padding-right: 10px;
    white-space: nowrap;
    font-size: 0.8rem;
  }
  .tour-details #date-price tr {
    margin: 0 0 2rem 0;
  }
  .tour-details #date-price td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    padding: 0.25rem 0.25rem 0.25rem 130px;
  }
  .tour-details #date-price td:last-of-type {
    border-bottom: none;
  }
  .tour-details #date-price td:nth-of-type(1):before {
    content: "Date";
  }
  .tour-details #date-price td:nth-of-type(2):before {
    content: "Offer Price";
  }
  .tour-details #date-price td:nth-of-type(3):before {
    content: "Seat Left";
  }
  .tour-details #date-price td:nth-of-type(4):before {
    content: "";
  }
  .tour-details #date-price td:nth-of-type(5):before {
    content: "";
  }
}
#date-price .grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.tour-details .nodisplay {
  display: none !important;
}

.tour-details .group-discounts-card small {
  padding: 1rem;
}
.tour-details .group-discounts-card table {
  margin-bottom: 0;
  font-size: 0.9rem;
  color: #fff;
}
.tour-details .review-card {
  padding: 1rem;
  text-align: justify;
}
.tour-details .review-card .review {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  position: relative;
}
.tour-details .review-card .review::after,
.tour-details .review-card .review:before {
  content: "";
  position: absolute;
  border: solid transparent;
}
.tour-details .review-card .review::after {
  top: 2rem;
  left: 100%;
  border-width: 1rem;
  border-left: 1rem solid #fff;
}
.tour-details .review-card .review::before {
  top: calc(2rem - 1px);
  left: 100%;
  border-width: calc(1rem + 1px);
  border-left: calc(1rem + 1px) solid #ccc;
}
.tour-details .review-card .review-text {
  font-size: 0.88rem;
}
.tour-details .review-card .stars {
  margin-bottom: 0;
}
.tour-details .review-card .stars i.active {
  color: #ff4d01;
  font-size: 0.8rem;
}
.tour-details .review-card .reviewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.tour-details .review-card .reviewer img {
  flex: 0 0 64px;
  margin-bottom: 1rem;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.tour-details .review-card .reviewer .reviewer-info p {
  text-align: center;
  margin-bottom: 0;
}
.tour-details .review-card .reviewer .reviewer-info p.name {
  font-weight: 600;
  color: #555;
}
.tour-details .review-card .reviewer .reviewer-info p.from {
  font-size: 0.8rem;
}
@media screen and (max-width: 992px) {
  .tour-details .review-card {
    padding: 1rem 0;
  }
  .tour-details .review-card .review {
    border: none;
    padding: 0;
  }
  .tour-details .review-card .review::before,
  .tour-details .review-card .review::after {
    display: none;
  }
}
.tour-details .sticky-price {
  top: 8rem;
}
.tour-details .group-discounts-card {
  background: #ff4d01;
  color: #fff;
}
.tour-details .group-discounts-card small {
  padding: 1rem;
}
.tour-details .group-discounts-card table {
  margin-bottom: 0;
  font-size: 0.9rem;
  color: #fff;
}
.tour-details .group-discounts-card th {
  padding: 1rem 0.8rem;
  color: #fff;
}
.tour-details .group-discounts-card td {
  padding: 0.25rem 1rem;
}
.tour-details .share-links a {
  color: #ff4d01;
  margin-right: 1rem;
}
.tour-details .share-links a i {
  font-size: 1.4rem;
}
.tour-details .btn-customize {
  padding: 0.7rem;
  font-weight: 600;
}
.tour-details .btn-customize i {
  margin-right: 10px;
}
.tour-details .btn.btn-book-now {
  display: block;
  width: 100%;
  background: #ff4d01;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
.tour-details .btn.btn-book-now:hover,
.tour-details .btn.btn-book-now:focus {
  background: #011d36;
}
.tour-details .btn.btn-book-now:active {
  box-shadow: inset 1px 5px 3px rgba(0, 0, 0, 0.1);
}
.tour-details .features ul {
  padding-left: 40px;
}
.tour-details .features ul li {
  font-size: 1.2rem;
  color: #011d36;
  text-transform: uppercase;
  font-weight: 600;
}
.tour-details .features ul li:not(:last-child) {
  margin-bottom: 1rem;
}
.tour-details .features ul li::before {
  display: inline-block;
  width: 40px;
  margin-left: -40px;
  line-height: 24px;
  text-align: center;
  font-family: "Font Awesome 5 Free";
  color: #ff4d01;
  content: "\F35A";
  font-weight: 600;
}
.tour-details .experts-card {
  background: #011d36;
  padding: 1rem;
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.tour-details .experts-card h3 {
  color: white;
}
.tour-details .experts-card svg {
  color: #f6f6f6;
}
.tour-details .experts-card .experts-phone a {
  font-size: 1.1rem;
  color: #fff;
}
.tour-details .experts-card .experts-phone a i {
  font-size: 1.8rem;
  margin-right: 1rem;
  color: #ff4d01;
}
.tour-details .experts-card .experts-phone a:hover {
  text-decoration: none;
}
.tour-details .essential-info {
  background: #ffebc7;
  padding: 15px;
}
.tour-details .essential-info h3 {
  color: #ff4d01;
  padding-bottom: 5px;
  border-bottom: 1px solid #ff4d01;
}
.tour-details .essential-info .essential-links li a {
  color: #555555;
  font-weight: 600;
}
.tour-details .essential-info .essential-links li a:hover {
  text-decoration: none;
  color: #011d36;
}
.tour-details .essential-info .essential-links li svg {
  color: #011d36;
}
.tour-details .package-card-sm {
  position: relative;
  padding: 0;
  margin-bottom: 1rem;
  color: #fff;
}
.tour-details .package-card-sm .img {
  height: 160px;
  background-position: center;
  background-size: cover;
}
.tour-details .package-card-sm .title {
  position: absolute;
  bottom: 0.5rem;
  left: 10px;
  right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
}
.tour-details .package-card-sm .days {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 0.9rem;
}
.tour-details .package-card-sm .price {
  position: absolute;
  right: 0;
  top: 0;
  background: #011d36;
  padding: 0.8rem;
  border-radius: 0 0 0 0.5rem;
}
.tour-details .package-card-sm .info .days,
.tour-details .package-card-sm .info .price {
  line-height: 1.2;
}
.tour-details .package-card-sm .info .days {
  margin-bottom: 4px;
}
.tour-details .package-card-sm:hover .title {
  color: #ff4d01;
  text-decoration: none;
}
.tour-details .latest-blog-card {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.tour-details .latest-blog-card .title {
  font-size: 1rem;
  color: #011d36;
}
.tour-details .controls {
  background: #011d36;
  padding: 15px;
}
.tour-details .complimentary {
  background: #f6f6f6;
}
.tour-details .complimentary ul {
  margin-bottom: 0;
}
.tour-details .complimentary ul li svg {
  color: #ff4d01;
}
.tour-details .ta-widget {
  text-align: center;
  background: #fff;
}
.breadcrumb-wrapper {
  width: 100%;
  margin-bottom: 0;
}
.breadcrumb-wrapper ol.breadcrumb {
  display: flex;
  width: 100%;
  list-style-type: none;
}
.breadcrumb-wrapper ol.breadcrumb .breadcrumb-item+.breadcrumb-item::before {
  content: ">";
  margin-right: 1rem;
  color: white;
}
.breadcrumb-wrapper ol.breadcrumb li {
  margin-right: 1rem;
}
.breadcrumb-wrapper ol.breadcrumb li a {
  color: #f6f6f6;
  font-weight: 600;
}
.breadcrumb-wrapper ol.breadcrumb li.active {
  color: white;
}
p.select-ratings i {
  color: #888;
}
p.select-ratings i.active {
  color: #ff4d01;
}
p.select-ratings i:hover {
  cursor: pointer;
}
#photo-input {
  margin-bottom: 1rem;
}
#write-review-photo {
  width: 120px;
  max-width: 100%;
  border-radius: 0.5rem;
  display: block;
}
.tour-details-tabs a {
  border-radius: 0.25rem;
}
.price-card .ribbon {
  height: 2.4rem;
}
.price-card .ribbon::after {
  box-sizing: border-box;
  content: "";
  display: inline-block;
  width: 4rem;
  height: 2.4rem;
  border-right: 2rem solid transparent;
  border-top: 1.2rem solid #bbf7d0;
  border-bottom: 1.2rem solid #bbf7d0;
  border-left: 2rem solid #bbf7d0;
}
.gallery .overlay {
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  transition: all 0.3s ease-out;
}
.gallery .overlay::after {
  content: "";
  transform: translate();
  width: 2rem;
  height: 2rem;
  border-radius: 3rem;
  background: #011d36;
  transition: all 0.3s ease-out;
}
.gallery svg {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery .item:hover .overlay {
  opacity: 1;
}
.gallery .item:hover .overlay::after {
  width: 4rem;
  height: 4rem;
}
.gallery .item:hover svg {
  opacity: 1;
}
.sm-simple {
  background: transparent;
  box-shadow: 0 0.5rem 0.2rem rgba(0, 0, 0, 0.05);
}
.sm-simple>li {
  background: white;
}
.sm-simple a {
  padding: 13px 20px;
  /* make room for the toggle button (sub indicator) */
  padding-right: 58px;
  /* font-family: Poppins, sans-serif; */
  color: #555555;
}
.sm-simple a,
.sm-simple a:hover,
.sm-simple a:focus,
.sm-simple a:active {
  font-size: 16px;
  font-weight: normal;
  line-height: 17px;
  text-decoration: none;
}
.sm-simple a.current {
  background: #555555;
  color: #fff;
}
.sm-simple a.disabled {
  color: #cccccc;
}
.sm-simple a .sub-arrow {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: auto;
  right: 4px;
  width: 34px;
  height: 34px;
  overflow: hidden;
  font: bold 13px/34px monospace !important;
  text-align: center;
  text-shadow: none;
  background: rgba(0, 0, 0, 0.08);
}
.sm-simple li {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.sm-simple>li:first-child {
  border-top: 0;
}
.sm-simple ul {
  background: rgba(179, 179, 179, 0.1);
}
.sm-simple ul a,
.sm-simple ul a:hover,
.sm-simple ul a:focus,
.sm-simple ul a:active {
  font-size: 14px;
}
.sm-simple ul ul a,
.sm-simple ul ul a:hover,
.sm-simple ul ul a:focus,
.sm-simple ul ul a:active {
  border-left: 16px solid transparent;
}
.sm-simple ul ul ul a,
.sm-simple ul ul ul a:hover,
.sm-simple ul ul ul a:focus,
.sm-simple ul ul ul a:active {
  border-left: 10px solid transparent;
}
.sm-simple ul ul ul ul a,
.sm-simple ul ul ul ul a:hover,
.sm-simple ul ul ul ul a:focus,
.sm-simple ul ul ul ul a:active {
  border-left: 10px solid transparent;
}
.sm-simple ul ul ul ul ul a,
.sm-simple ul ul ul ul ul a:hover,
.sm-simple ul ul ul ul ul a:focus,
.sm-simple ul ul ul ul ul a:active {
  border-left: 40px solid transparent;
}
@media (max-width: 768px) {
  .sm-simple .sub-arrow::before {
    content: "+";
  }
  .sm-simple.highlighted .sub-arrow::before {
    content: "-";
  }
}
@media (min-width: 768px) {
  /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  .sm-simple {
    box-shadow: none;
  }
  .sm-simple ul {
    position: absolute;
    width: 12em;
  }
  .sm-simple li {
    float: left;
    background: transparent;
  }
  .sm-simple a {
    white-space: nowrap;
  }
  .sm-simple ul a {
    white-space: normal;
  }
  .sm-simple .sm-nowrap>li>a,
  .sm-simple .sm-nowrap>li> :not(ul) a {
    white-space: nowrap;
  }
  /* ...end */
  .sm-simple {
    background: transparent;
  }
  .header .sm-simple>li>a {
    text-transform: uppercase;
    padding: 0.9rem 18px;
    color: var(--dark);
  }
  .header.scrolled .sm-simple a {
    text-transform: uppercase;
    padding: 0.9rem 18px;
    text-shadow: none;
  }
  .sm-simple a:hover,
  .sm-simple a:focus,
  .sm-simple a:active,
  .sm-simple a.highlighted {
    background: transparent;
  }
  .sm-simple a.current {
    background: #555555;
    color: #ff4d01;
  }
  .sm-simple a.disabled {
    background: white;
    color: #cccccc;
  }
  .sm-simple a .sub-arrow {
    top: 50%;
    margin-top: -8px;
    right: 18px;
    width: 8px;
    height: 16px;
    font: 13px/16px monospace !important;
    background: transparent;
  }
  .sm-simple a.highlighted .sub-arrow::before {
    content: "";
  }
  .sm-simple>li {
    border-top: 0;
  }
  .sm-simple ul {
    border: 1px solid #bbbbbb;
    background: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  .sm-simple ul a {
    border: 0;
    color: #555;
    text-transform: none;
    font-family: Poppins, sans-serif;
  }
  .sm-simple ul a:hover,
  .sm-simple ul a:focus,
  .sm-simple ul a:active,
  .sm-simple ul a.highlighted {
    color: #555;
    background: #eed;
  }
  .sm-simple ul a.has-submenu {
    padding-right: 18px;
  }
  .sm-simple ul a .sub-arrow {
    left: 6px;
    right: auto;
  }
  .sm-simple ul>li {
    border-left: 0;
    border-top: 0;
    float: none;
  }
  .sm-simple ul>li:first-child {
    border-top: 0;
  }
  .sm-simple .scroll-up,
  .sm-simple .scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    overflow: hidden;
    background: white;
    height: 20px;
  }
  .sm-simple .scroll-up-arrow,
  .sm-simple .scroll-down-arrow {
    position: absolute;
    top: -2px;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 8px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #333 transparent;
  }
  .sm-simple .scroll-down-arrow {
    top: 6px;
    border-style: solid dashed dashed dashed;
    border-color: #333 transparent transparent transparent;
  }
}
.scroll .sm-simple a,
.scroll .sm-simple a:hover,
.scroll .sm-simple a:focus,
.scroll .sm-simple a:active,
.scroll .sm-simple a.highlighted {
  color: #333;
}
@media (max-width: 991px) {
  #main-nav {
    overflow-y: scroll;
  }
}
.mega-menu {
  border: 0 !important;
}
.mega-menu .lg\:fixed {
  top: 7rem;
  left: 1rem;
  right: 1rem;
  overflow-y: scroll;
  border: 1px solid #ddd;
  background: white;
}
.mega-menu ul {
  display: block;
  position: static;
  width: 100%;
  border: 0;
  box-shadow: none;
}
.mega-menu li {
  border: 0;
  float: none;
}
.mega-menu a {
  padding: 0.5rem 1rem;
  border-left: 0 !important;
}
.mega-menu .mega-menu-column>li:not(:last-child) {
  margin-bottom: 1rem;
}
.mega-menu .mega-menu-column>li>a {
  border-bottom: 1px solid #ddd;
  font-family: "Exo", serif;
  font-weight: 700;
  font-size: 16px;
  color: #08a1e2;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .mega-menu .container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 992px) {
  .mega-menu a {
    padding: 0.5rem 1rem;
    border-left: 0 !important;
  }
  .mega-menu .mega-menu-column>li>a {
    margin-bottom: 0.25rem;
  }
}
#CDSWIDSSP {
  font: normal 12px Trip Sans VF, Trip Sans, Arial, sans-serif;
  color: #333;
  overflow: hidden;
  height: auto;
  background-color: #fff;
  margin: 0;
  padding: 0;
  text-align: left;
  position: relative;
  background-color: transparent;
  letter-spacing: 0;
  width: 100% !important;
}
@media (min-width: 768px) {
  .md\:flex-row {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .xl\:order-1 {
    order: 1;
  }
}
.header-color {
  color: var(--dark);
}
#CDSWIDSSP {
  font: normal 12px Trip Sans VF, Trip Sans, Arial, sans-serif;
  color: #333;
  overflow: hidden;
  height: auto;
  background-color: #fff;
  margin: 0;
  padding: 0;
  text-align: left;
  position: relative;
  background-color: transparent;
  letter-spacing: 0;
  max-width: 84% !important;
}
[hidden] {
  display: none;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}